<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>ALL PROCEDURES</title>
  </head>

  <body>

    <header>
      <div class="heading">
        <h1 class="title">ALL PROCEDURES</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="list-status">
            現在のページ：
            <span>トップページ</span>
          </li>
          <li class="background-red">リスト▼</li>
          <li>ログイン</li>
          <li>ログアウト</li>
          <li>マイページ</li>
        </ul>
      </div>
    </header>

    <div class='title-contents'>
      <h2 class='service-title'>
        人生における催し事の手続き・マナー
      </h2>
      <p class='service-explain'>
        ブックマークしておけば、これひとつで全てがわかる
      </p>
      <p class='service-explain'>
        Webサイトです
      </p>
    </div>

    <div class="contents">

      <div class="middle-content">
        <h2 class="heading-name">サイト紹介</h2>
        <ul class="messages">
          <li class="message">
            <div>このサイトは、人生において必ず遭遇する、冠婚葬祭の主催時・参加時に必要な手順・持ち物・各種マナー、お役所の手続きを、このサイトをひとつブックマークしておくだけで全て網羅できるようにするため作られたサイトです。</div>
          </li>
        </ul>
        <ul class="stylist-list">
          <li>
            <img src="assets/seijinsiki.webp" alt="staff1" class="stylist-image">
            <h4 class="stylist-name">成人式・お宮参り・七五三</h4>
          </li>
          <li>
            <img src="assets/kekkonnsiki.jpeg" alt="staff2" class="stylist-image">
            <h4 class="stylist-name">結婚式・縁談・結納</h4>
          </li>
          <li>
            <img src="assets/tourounagasi.jpeg" alt="staff3" class="stylist-image">
            <h4 class="stylist-name">通夜・葬式・法事</h4>
          </li>
          <li>
            <img src="assets/fujisann.jpeg" alt="staff4" class="stylist-image">
            <h4 class="stylist-name">正月・お盆・七夕・節分</h4>
          </li>
        </ul>
        <ul class="stylist-list">
          <li>
            <img src="assets/siyakusyo.jpeg" alt="staff5" class="stylist-image">
            <h4 class="stylist-name">市役所の手続き</h4>
          </li>
          <li>
            <img src="assets/otyuugenn.jpeg" alt="staff6" class="stylist-image">
            <h4 class="stylist-name">お中元・お歳暮</h4>
          </li>
          <li>
            <img src="images/staff7.jpg" alt="staff7" class="stylist-image">
            <h4 class="stylist-name">coming soon…</h4>
          </li>
          <li>
            <img src="images/staff8.jpg" alt="staff8" class="stylist-image">
            <h4 class="stylist-name">coming soon…</h4>
          </li>
        </ul>
      </div>
    </div>

    <footer>
      <p>Copyright(C) ALL PROCEDURE ALL RIGHTS RESERVED.</p>
    </footer>
    
  </body>
</html>